
.ul{
    padding: 0;
    margin: 0;
    .navItem{
        list-style-type: none;
        display: inline-block;
        a{
            padding:10px 15px;
            display: block;
            color: #000;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }
        &.loginRegisterHide{
            display: none;
        }
        &.logoutHide{
            display: none;
        }
    }
}